.python-version
out.bib
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.latexmain
*.log
*.mtc
*.out
*.pdf
*.pgs
*.run.xml
*.snm
*.svg
*.synctex.gz*
*.synctex(busy)
*.tar*
*.thm
*.toc
*.zip
.DS_Store
.git
archive*
tmp
*.egg-info
__pycache__
